<div>
  <%= form_with model: [@youtube_video, @youtube_video.notes.build], id: "new_note_form", url: youtube_video_notes_path(@youtube_video), class: 'new_note', data: { turbo_frame: "note" } do |f| %>
    <div class="form-group">
      <%= f.label :video_timestamp, "タイムスタンプ" %>
      <%= f.text_field :video_timestamp, class: 'form-control', placeholder: "例: '1:23'" %>
    </div>
    <div class="form-group">
      <%= f.label :content, "メモの内容" %>
      <%= f.text_area :content, class: 'form-control', placeholder: "メモを入力" %>
    </div>
    <%= f.submit "メモを追加", class: 'btn btn-primary' %>
  <% end %>
</div>
