<div>
  <% if @video %>
    <%= form_with model: [@video, @video.notes.build], id: "new_note_form", url: video_notes_path(@video), class: 'new_note', data: { turbo_frame: "note" } do |f| %>
      <div class="form-control mb-4">
        <%= f.label :video_timestamp, "タイムスタンプ", class: 'label' %>
        <div class="flex gap-2 mt-2">
          <div class="input-group">
            <input type="number" id="video_timestamp_minutes" name="video_timestamp_minutes" value="0" min="0" max="59" class="input input-bordered" onchange="timeChanged();">
            <span class="input-group-text">分</span>
          </div>
          <div class="input-group">
            <input type="number" id="video_timestamp_seconds" name="video_timestamp_seconds" value="0" min="0" max="59" class="input input-bordered" onchange="timeChanged();">
            <span class="input-group-text">秒</span>
          </div>
        </div>
      </div>
      <div class="form-control mb-4">
        <%= f.label :content, "メモ", class: 'label' %>
        <%= f.text_area :content, class: 'textarea textarea-bordered', placeholder: "メモを入力" %>
      </div>
      <div class="form-control mb-4">
        <%= f.label :is_visible, "表示", class: "label" %>
        <%= f.select :is_visible, [['表示する', true], ['表示しない', false]], {}, { class: "select select-bordered" } %>
      </div>
      <%= f.submit "投稿", class: 'btn btn-primary mt-4' %>
    <% end %>
  <% end %>
</div>

<script>
  function timeChanged() {
    const minutes = parseInt(document.getElementById('video_timestamp_minutes').value) || 0;
    const seconds = parseInt(document.getElementById('video_timestamp_seconds').value) || 0;
    const totalSeconds = (minutes * 60) + seconds;
    document.getElementById('timestamp-slider').value = totalSeconds;  // この行は使用していない場合は削除またはコメントアウトしてください。
  }
</script>
