<% if @video %>
  <div>
    <%= form_with model: [@video, @video.notes.build], id: "new_note_form", url: video_notes_path(@video), class: 'new_note', data: { turbo_frame: "note" } do |f| %>
      <div class="form-control mb-4">
        <%= f.label :video_timestamp, "タイムスタンプ", class: 'label' %>
        <div class="input-group">
          <div>
            <input type="range" min="0" max="3600" value="0" id="timestamp-slider" class="range range-xs w-3/4" onchange="sliderChanged(this.value);">
          </div>
        </div>
        <div class="flex space-x-2">
          <input type="number" id="video_timestamp_minutes" name="video_timestamp_minutes" value="0" min="0" max="59" class="input input-bordered w-20" onchange="timeChanged();">
          <label for="video_timestamp_minutes" class="label">分</label>

          <input type="number" id="video_timestamp_seconds" name="video_timestamp_seconds" value="0" min="0" max="59" class="input input-bordered w-20" onchange="timeChanged();">
          <label for="video_timestamp_seconds" class="label">秒</label>
        </div>
      </div>
      <div class="form-control mb-4">
        <%= f.label :content, "メモ", class: 'label' %>
        <%= f.text_area :content, class: 'textarea textarea-bordered', placeholder: "メモを入力" %>
      </div>
      <div class="form-control w-full max-w-xs">
        <%= f.label :is_visible, "表示", class: "label" %>
        <%= f.select :is_visible, [['表示する', true], ['表示しない', false]], {}, { class: "select select-bordered" } %>
      </div>
      <%= f.submit "投稿", class: 'btn btn-primary mt-4' %>
    <% end %>
  </div>
<% end %>

<script>
  function sliderChanged(value) {
    const minutes = Math.floor(value / 60);
    const seconds = value % 60;
    document.getElementById('video_timestamp_minutes').value = minutes;
    document.getElementById('video_timestamp_seconds').value = seconds;
  }

  function timeChanged() {
    const minutes = parseInt(document.getElementById('video_timestamp_minutes').value) || 0;
    const seconds = parseInt(document.getElementById('video_timestamp_seconds').value) || 0;
    const totalSeconds = (minutes * 60) + seconds;
    document.getElementById('timestamp-slider').value = totalSeconds;
  }
</script>
