<% content_for(:title, t('.title')) %>
<div class="container mx-auto p-4">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1 class="text-3xl font-bold mb-4"><%= t('.title') %></h1>
      <%= form_with model: @user, url: password_reset_path(@token), method: :patch, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-control">
          <%= f.label :email, class: "label" %>
          <label class="input-group">
            <%= @user.email %>
          </label>
        </div>
        <div class="form-control">
          <%= f.label :password, class: "label" %>
          <%= f.password_field :password, class: "input input-bordered" %>
        </div>
        <div class="form-control">
          <%= f.label :password_confirmation, class: "label" %>
          <%= f.password_field :password_confirmation, class: "input input-bordered" %>
        </div>
        <%= f.submit t('.submit'), class: "btn btn-primary mt-4" %>
      <% end %>
    </div>
  </div>
</div>
