<div class="container mb-5 pt-2 px-4 sm:px-6 lg:px-8 max-w-full sm:max-w-xl md:max-w-2xl lg:max-w-4xl">
  <h1 class="text-3xl font-bold mb-4 text-left">Youtube一覧</h1>
  <div class="flex justify-left mb-6">
    <%= render 'youtube_videos/search_form', q: @q %>
  </div>
  <div class="mb-4">
    <%= link_to t('defaults.sort.likes_desc'), youtube_videos_path(sort: 'likes_desc', q: @filtered_q_params), class: "btn btn-accent" %>
    <%= link_to t('defaults.sort.notes_desc'), youtube_videos_path(sort: 'notes_desc', q: @filtered_q_params), class: "btn btn-accent" %>
    <%= link_to t('defaults.sort.created_at_desc'), youtube_videos_path(sort: 'created_at_desc', q: @filtered_q_params), class: "btn btn-accent" %>
  </div>
  <div class="flex justify-center">
    <div class="w-full">
      <%= render @youtube_videos %>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="w-auto">
      <%= paginate @youtube_videos, class: "btn-group", remote: false do |f| %>
        <%= f.first_page_tag 'First', class: 'btn' unless f.current_page == 1 %>
        <%= f.prev_page_tag 'Prev', class: 'btn' unless f.current_page == 1 %>
        <% f.each_page do |page| %>
          <% if page.left_outer? || page.right_outer? || page.inside_window? %>
            <%= f.page_tag page, class: 'btn' %>
          <% end %>
        <% end %>
        <%= f.next_page_tag 'Next', class: 'btn' unless f.current_page == f.total_pages %>
        <%= f.last_page_tag 'Last', class: 'btn' unless f.current_page == f.total_pages %>
      <% end %>
    </div>
  </div>
</div>
