<div class="container mb-5 pt-2 px-4 sm:px-6 lg:px-8 max-w-full sm:max-w-xl md:max-w-2xl lg:max-w-4xl">
  <h1 class="text-3xl font-bold mb-4 text-left">Youtube一覧</h1>
  <div class="flex justify-left mb-6">
    <%= render 'youtube_videos/search_form', q: @q %>
  </div>
  <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box mb-5" style="border-color: #004080; border-width: 2px; border-style: solid; border-radius: 8px;">
    <div class="collapse-title text-xl font-medium" id="accordion-toggle">
      ソートオプション
    </div>
    <div class="mb-4" style="display: none; flex-direction: column; padding: 10px;">
      <%= link_to t('defaults.sort.likes_desc'), youtube_videos_path(sort: 'likes_desc', q: @filtered_q_params), class: "btn btn-accent mb-2" %>
      <%= link_to t('defaults.sort.notes_desc'), youtube_videos_path(sort: 'notes_desc', q: @filtered_q_params), class: "btn btn-accent mb-2" %>
      <%= link_to t('defaults.sort.created_at_desc'), youtube_videos_path(sort: 'created_at_desc', q: @filtered_q_params), class: "btn btn-accent mb-2" %>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="w-full">
      <%= render @youtube_videos %>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="w-auto">
      <%= paginate @youtube_videos, class: "btn-group", remote: false do |f| %>
        <%= f.first_page_tag 'First', class: 'btn' unless f.current_page == 1 %>
        <%= f.prev_page_tag 'Prev', class: 'btn' unless f.current_page == 1 %>
        <% f.each_page do |page| %>
          <% if page.left_outer? || page.right_outer? || page.inside_window? %>
            <%= f.page_tag page, class: 'btn' %>
          <% end %>
        <% end %>
        <%= f.next_page_tag 'Next', class: 'btn' unless f.current_page == f.total_pages %>
        <%= f.last_page_tag 'Last', class: 'btn' unless f.current_page == f.total_pages %>
      <% end %>
    </div>
  </div>
</div>

<script>
  document.getElementById('accordion-toggle').addEventListener('click', function(event) {
    var content = this.nextElementSibling;
    if (content.style.display === 'none') {
      content.style.display = 'block';
    } else {
      content.style.display = 'none';
    }
  });
</script>
