<h1><%= @youtube_video.title %></h1>
<!-- 動画の埋め込み表示 -->
<div>
  <iframe id="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/<%= @youtube_video.youtube_id %>?playsinline=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<p>公開日: <%= @youtube_video.published_at %></p>
<p>動画時間: <%= format_duration(@youtube_video.duration) %></p>

<%= link_to '削除', youtube_video_path(@youtube_video), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }, class: 'btn btn-error' %>

<!-- メモの追加フォーム -->
<%= render 'notes/form_youtube' %>

<!-- メモの一覧表示 -->
<div id="notes_list">
  <h2 style="margin-top: 20px;">メモ一覧</h2>
  <% visible_notes = @youtube_video.notes.select do |note| 
    note.content.present? && (note.is_visible || (current_user && note.user_id == current_user.id))
  end %>
  <% if visible_notes.any? %>
    <% visible_notes.each do |note| %>
      <div class="mb-4">
        <%= render 'notes/note', note: note %>
      </div>
    <% end %>
  <% else %>
    <p id="no_notes_message">メモがありません。</p>
  <% end %>
</div>

<script>
  document.addEventListener("turbo:submit-end", function(event) {
    var form = document.getElementById("new_note_form");
    if (form) {
      form.reset(); // フォームの内容をリセット
    }
  });

  function playFromTimestamp(seconds) {
    var videoUrl = "https://www.youtube.com/embed/<%= @youtube_video.youtube_id %>?start=" + seconds + "&autoplay=1";
    var videoFrame = document.getElementById('youtube-video');
    videoFrame.src = videoUrl;

    // モバイルデバイスでの再生を確実にするための追加の処理
    videoFrame.contentWindow.postMessage('{"event":"command","func":"playVideo","args":""}', '*');
  }
</script>

<%= link_to '戻る', youtube_videos_path, class: 'btn btn-primary', style: 'margin-top: 20px;' %>
