<div class="container">
  <h1><%= @youtube_video.title %></h1>
  <!-- 動画の埋め込み表示 -->
  <div class="video-wrapper">
    <iframe class="w-full aspect-video" id="youtube-video"
            src="https://www.youtube.com/embed/<%= @youtube_video.youtube_id %>?playsinline=1"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
  </div>
  <p>公開日: <%= @youtube_video.published_at %></p>
  <p>動画時間: <%= format_duration(@youtube_video.duration) %></p>
  <!-- いいねボタンとその他のコンポーネント -->
  <div id="like_button">
    <% user_like = @youtube_video.likes.find_by(user: current_user) %>
    <% if user_like %>
      <%= link_to 'いいねを取り消す', youtube_video_like_path(@youtube_video, user_like, likeable_type: @youtube_video.class.name, likeable_id: @youtube_video.id),
                  data: { turbo_method: :delete, turbo_frame: "like_button" },
                  remote: true,
                  class: 'btn btn-outline btn-warning' %>
    <% else %>
      <%= link_to 'いいね', youtube_video_likes_path(@youtube_video, likeable_type: @youtube_video.class.name, likeable_id: @youtube_video.id),
                  data: { turbo_method: :post, turbo_frame: "like_button" },
                  remote: true,
                  class: 'btn btn-outline btn-success' %>
    <% end %>
  </div>
  <%= render 'notes/form_youtube' %>
  <div id="notes_list">
    <h2 style="margin-top: 20px;">メモ一覧</h2>
    <% visible_notes = @youtube_video.notes.select do |note| 
      note.content.present? && (note.is_visible || (current_user && note.user_id == current_user.id))
    end %>
    <% if visible_notes.any? %>
      <div class="flex flex-wrap">
        <% visible_notes.each do |note| %>
          <div class="p-2 flex lg:max-w-1/3">
            <%= render 'notes/note', note: note %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p id="no_notes_message">メモがありません。</p>
    <% end %>
  </div>
  <%= link_to '戻る', youtube_videos_path, class: 'btn btn-outline btn-info', style: 'margin-top: 20px;' %>
</div>

<script>
  document.addEventListener("turbo:submit-end", function(event) {
    var form = document.getElementById("new_note_form");
    if (form) {
      form.reset(); // フォームの内容をリセット
    }
  });

  function playFromTimestamp(seconds) {
    var videoUrl = "https://www.youtube.com/embed/<%= @youtube_video.youtube_id %>?start=" + seconds + "&autoplay=1";
    var videoFrame = document.getElementById('youtube-video');
    videoFrame.src = videoUrl;

    // モバイルデバイスでの再生を確実にするための追加の処理
    videoFrame.contentWindow.postMessage('{"event":"command","func":"playVideo","args":""}', '*');
  }
</script>

<style>
.video-wrapper {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
  z-index: 10;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
