<div class="container px-4 w-full">
  <% if current_user&.admin? %> 
    <div class="mb-4">
      <h1>動画取得</h1>
      <%= form_with url: fetch_videos_by_genre_youtube_videos_path, method: :get, local: true, class: "w-full" do |form| %>
        <%= form.text_field :genre, class: "input input-bordered input-lg", placeholder: "ジャンル or キーワード" %>
        <%= form.submit "取得", class: "btn btn-outline" %>
      <% end %>
    </div>
  <% end %>
    <!-- 左側ナビゲーションバー -->
  <div class="flex">
    <div class="flex mr-10">
      <ul class="nav flex-col">
        <li class="nav-item mb-3">
          <%= User.human_attribute_name(:avatar) %>
          <%= image_tag(current_user.avatar.url, width: '100', height: '100') %>
        </li>
        <li class="nav-item mb-3">
          <%= User.human_attribute_name(:name) %>
          <%= current_user.name %>
        </li>
        <li class="nav-item mb-3">
          <%= User.human_attribute_name(:email) %>
          <%= current_user.email %>
        </li>
        <li class="nav-item mb-3">
          <%= link_to t('defaults.edit'), edit_mypage_path, class: 'btn btn-outline btn-success' %>
        </li>
        <li class="nav-item mb-3">
          <%= link_to t('videos.create'), new_video_path, class: 'btn btn-outline btn-primary' %>
        </li>
        <li>
          <%= link_to '会員一覧', admin_users_path(@user), class: 'btn btn-success' %>
        </li>
      </ul>
    </div>

    <!-- 右側コンテンツエリア -->
    <div class="flex-1 flex-auto lg:pr-4 md:pr-2 pr-1">
      <h1 class="text-xl font-bold mb-4">「いいね」した動画一覧</h1>
      <% if @liked_videos.any? %>
        <%# 後々スライダーで実装 %>
        <%= render @liked_videos %>
        <!-- ページネーション -->
        <div class="mt-4">
          <%= paginate @liked_videos %>
        </div>
        <div class="mb-3">
          <%= link_to 'いいねしたビデオ一覧へ', favorites_videos_path, class: "btn btn-outline btn-secondary" %>
        </div>
      <% else %>
        <p>いいねした動画がありません。</p>
      <% end %>
    </div>
  </div>
</div>
