<%= form_with model: [@video], local: true, html: { multipart: true, class: "space-y-4" } do |form| %>
  <div class="form-control">
    <%= form.label :title, "Title", class: "label" %>
    <%= form.text_field :title, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control">
    <%= form.label :description, "Description", class: "label" %>
    <%= form.text_area :description, class: "textarea textarea-bordered w-full", rows: 3 %>
  </div>

  <div class="form-control">
    <%= form.label :file_path, "Video File", class: "label" %>
    <%= form.file_field :file_path, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control">
    <%= form.label :is_visible, "表示", class: "label" %>
    <%= form.select :is_visible, [[ '表示する', true ], [ '表示しない', false ]], {}, { class: "select select-bordered w-full" } %>
  </div>

  <%= form.submit @video.new_record? ? '投稿' : '更新', class: "btn btn-primary" %>
<% end %>
