<% if video.is_visible || (current_user && video.user == current_user) %>
  <h1 class="mb-4">
    <%= link_to video.title, video_path(video), class: "btn btn-outline" %>
  </h1>

  <div class="flex">
    <div class="mb-4 max-w-xl">
      <div class="square-video-wrapper">
        <video class="square-video" controls>
          <source src="<%= video.file_path %>" type="video/mp4">
          お使いのブラウザは動画タグをサポートしていません。
        </video>
      </div>
      <div>
        <% unless video.is_visible %>
          <p class="mb-2 text-red-500">非表示中</p>
        <% end %>
        <p class="mb-2">投稿日: <%= video.created_at.strftime("%Y-%m-%d") %></p>
        <% if video.duration.present? %>
          <p>動画時間: <%= format_duration(video.duration) %></p>
        <% end %>
        <p class="mb-2">メモ数: <%= video.notes.count %></p>
        <%= link_to '編集', edit_video_path(video), class: 'btn btn-primary' %>
        <%= link_to '削除', video_path(video),
                    data: { turbo_confirm: '本当に削除しますか？', turbo_method: :delete },
                    class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
<% end %>

<style>
  .square-video-wrapper {
    width: 500px; /* 正方形の幅を設定 */
    height: 500px; /* 正方形の高さを設定 */
    overflow: hidden; /* 動画が正方形の外にはみ出さないようにする */
  }

  .square-video {
    width: 100%; /* 動画を正方形の幅いっぱいに広げる */
    height: 100%; /* 動画を正方形の高さいっぱいに広げる */
  }
</style>
