<header class="flex">
  <div class="navbar mb-2">
    <%= link_to 'ViMemo', root_path, class: "btn btn-ghost normal-case text-xl" %>
    <%= search_form_for @q, url: youtube_videos_path, method: :get, class: "flex items-center space-x-4 ml-4" do |f| %>
      <%= f.search_field :title_cont, placeholder: "タイトルを検索", class: "input input-bordered" %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn m-1">メニュー</label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><%= link_to 'プロフィール', users_mypage_path %></li>
        <li><%= link_to t('header.logout'), logout_path, data: { turbo_method: :delete } %></li>
      </ul>
    </div>
  </div>
</header>
