<header class="bg-primary flex flex-wrap items-center justify-between w-full px-4 sm:px-6 lg:px-8">
  <%= link_to image_tag('logo.png', alt: 'ViMemo', class: 'logo'), root_path, class: "logo-link" %>
  <%= search_form_for @q, url: combined_videos_path, method: :get, class: "flex items-center space-x-4 flex-grow mx-4 search-bar" do |f| %>
    <%= f.search_field :title_cont, placeholder: "タイトルを検索", class: "input input-bordered flex-grow" %>
    <%= f.submit "検索", class: "btn" %>
  <% end %>
  <div class="dropdown dropdown-left">
    <div tabindex="0" role="button" class="btn m-1">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" style="fill: none; stroke: currentColor; stroke-width: 2;">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </div>
    <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52" style="z-index: 1001;">
      <li><%= link_to 'マイページ', users_mypage_path %></li>
      <li><%= link_to 'Youtube一覧', youtube_videos_path %></li>
      <%#= link_to '投稿ビデオ一覧', videos_path %>
      <li><%= link_to 'お気に入り一覧', favorites_videos_path %></li>
      <li><%= link_to t('header.logout'), logout_path, data: { turbo_method: :delete } %></li>
    </ul>
  </div>
</header>

<style>
  .logo-link {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
  }

  .logo {
    width: 200px;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
  }

  .logo:hover {
    transform: scale(1.05);
  }

  @media (max-width: 768px) {
    .logo {
      display: block;
      width: 150px;
    }
    .logo-link {
      padding: 8px;
    }
    .search-bar {
      width: 100%; /* 検索バーを画面全幅に拡張 */
      order: 3;    /* 検索バーを最後に配置 */
      margin-top: 10px;
      margin-bottom: 10px; /* 上の要素との間隔を設定 */
    }
  }
</style>
