<tr>
  <td>
    <!-- アバター画像を表示 -->
    <% if user.avatar.present? %>
      <%= image_tag(user.avatar.url, alt: "Avatar", width: 50, height: 50) %>
    <% else %>
      <span>No Avatar</span>  <!-- 画像がない場合のテキスト -->
    <% end %>
  </td>
  <td>
    <%= user.id %>
  </td>
  <td>
    <%= user.name %>
  </td>
  <td>
    <%= user.created_at %>
  </td>
  <td>
    <%= link_to t('defaults.show'), admin_user_path(user), class: 'btn btn-info' %>
    <%= link_to t('defaults.edit'), edit_admin_user_path(user), class: 'btn btn-success' %>
    <%= link_to t('defaults.delete'), admin_user_path(user), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }, class: 'btn btn-danger' %>
  </td>
</tr>
