<!DOCTYPE html>
<html data-theme="forest">
  <head>
    <title>ViMemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <% if logged_in? %>
      <%= render partial: 'shared/header' %>
    <% else %>
      <%= render partial: 'shared/before_login_header' %>
    <% end %>
    <div class="container-fluid d-flex align-items-center justify-content-center" style="min-height: 100vh;">
      <div class="row">
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 d-flex align-items-center justify-content-center" style="min-height: 100vh;">
          <%= render 'shared/flash_message' %>
          <%= yield %>
        </main>
      </div>
    </div>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
